body{
background-color:#31405f;
font-family:sans-serif;
color: #BFC6CC;
}

#time-left{
    color: #a1acc2;
}
button{
    background-color:#31405f;
    border-color: aliceblue;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

button:hover{
    background-color:#31405f;
    border-color: black;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

#user-input{
background-color: #a1acc2;
border-radius:5px;
border:none;
color:black;
height:35px;
}